/*
 * Colors:
 *  lightest shadow: #fafafa;
 *  lighter shadow: #ececec;
 *  main blue: rgb(52, 152, 219);
 *  dark blue: rgb(41, 128, 185);
 *  green: rgb(46, 204, 113);
 *  dark green: rgb(39, 174, 96);
 *  main font color: #34495e rgb(52, 73, 94);
 *
 */

/* How to make body in one color when #main is low in height?
html,
body {
    height: 100%;
}
*/

body {
    background: #fafafa;
}
a {
    text-decoration: none;
    color: #16A085;
}

.btn,
input {
    border-radius: 0 !important;
}

.float-container:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

/*.container,*/
.navbar .container,
#main .container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.ui-box {
    background: #fff;
    box-shadow: 0 0 3px #ddd;
}
.ui-box > .title {
    color: rgb(41, 128, 185);
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}

#header {
    /*
    background: #2578b5;
    background: #2e548c;
    background: #39619b;
    */
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px solid #eee;
    background: #3498DB;

    /* test */
    /*height: 60px;*/
}

#header a.logo {
    display: block;
    float: left;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 8px 0;
}

.navbar a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.navbar .nav {
    margin-left: 50px;
}

.navbar .nav > li > a {
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.16);
    text-shadow: none;
}
/*
.navbar .nav > li > a:hover {
    background: #fff;
    color: rgb(41, 128, 185);
    border-right: 1px solid #3498DB;
    box-shadow: none;
}
*/
.navbar .nav > li:hover > a {
    background: #fff;
    color: rgb(41, 128, 185);
    border-right: 1px solid #3498DB;
    box-shadow: none;
}
.navbar .nav > li > ul {
    left: 0;
    width: 150px;
    padding-top: 0;
    top: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.28);
}
.navbar .nav > li > ul:before {
    display: none;
    /*border-color: transparent transparent #2980B9 transparent;*/
}
.navbar .nav > li > ul > li {
    background-color: #2980B9;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.navbar .nav > li > ul > li:last-child {
    border-bottom: 0;
}
.navbar .nav > li > ul > li > a {
    padding: 10px 15px;
    color: #2C3E50;
}
.navbar .nav > li > ul > li > a:hover {
    color: rgb(41, 128, 185);
    background: transparent;
}
.navbar .nav ul li:first-child,
.navbar .nav ul li:last-child {
    border-radius: 0;
}

.navbar .nav-right {
    float: right;
    border-left: 0;
    margin-right: 0;
}
.navbar .nav-right .separator {
    width: 1px;
    height: 50px;
    /*left: 1px;*/
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.16);
}

#main {
    margin: 30px 0;
}

#main .container {
    background: transparent;
}

.column {
    float: left;
}
.column-left {
    width: 670px;
}
.column-left .ui-box {
    padding: 0 20px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
/*
.column-left .ui-box:first-child {
    margin-top: 0;
}
*/
.column-left > div > .title {
    padding: 20px 0 15px;
    /*color: ;*/
}


.column-right {
    width: 260px;
    margin-left: 30px;
}
.column-right .ui-box {
    margin-top: 20px;
    padding: 0 10px 20px;
}
.column-right .ui-box:first-child {
    margin-top: 0;
}
.column-right .ui-box .title {
    padding: 12px 0 10px 0;
}

.column-right .ui-box .text-list {
    list-style: square;
    margin-left: 18px;
    margin-bottom: 20px;
}
.column-right .ui-box .text-list li {
    font-size: 13px;
    margin-top: 10px;
}

#footer {
    /* test */
    height: 100px;

    background: #fff;
}
