.float-container {
    margin-top: 30px;
}
.float-container label,
.float-container input {
    float: left;
}
.float-container label {
    font-size: 18px;
    margin: 10px 20px 0 0;
    width: 170px;
    text-align: right;
}
.float-container input {
    width: 250px;
}
.float-container input[type="submit"] {
    margin-left: 190px;
    width: 264px;
}

.column-left .ui-box {
    padding-bottom: 30px;
}
