.line {
    margin-top: 30px;
}
.line label,
.line input {
    float: left;
}
.line label {
    font-size: 18px;
    margin: 10px 20px 0 0;
    width: 170px;
    text-align: right;
}
.line input {
    width: 250px;
}
.line input[type="submit"] {
    margin-left: 190px;
    width: 264px;
}

.column-left .ui-box {
    padding-bottom: 30px;
}
