{% extends base.html %}

{% block head %}
    <link media="all" rel="stylesheet" href="/static/css/component-datepicker.css" type="text/css" />
    <link media="all" rel="stylesheet" href="/static/css/home.css" type="text/css" />
{% end %}

{% block column_left %}
    <!--
    <ul class="nav">
        <li><a href="#"></a></li>
    </ul>
    -->

    <div class="record-button">Learning record</div>

    <div class="ui-box record">
        <div class="line">
            <div class="item date">
                <div class="name">Date</div>
                <!--
                <input type="text" name="date" class="datepicker" value="">
                -->
                <input type="text" name="date" class="" value="" readonly="readonly">
                <div class="tooltip fade bottom in" style="top: 0px; left: 0px; "><div class="tooltip-arrow" style=""></div><div class="tooltip-inner">Tooltip under the text.</div></div>
            </div>
            <div class="item object">
                <div class="name">Object</div>
                <input type="text" name="object">
            </div>

            <div class="close">⨯</div>
        </div>
        <div class="content">
            <textarea name="content" id="" placeholder="Content"></textarea>
        </div>
        <div class="line">
            <div class="item publicity">
                <div class="name">Publicity</div>
                <div class="input">
                    <label class="label-checkbox checked" for="publicity-checkbox">
                        <input type="checkbox" checked="checked" value="" id="publicity-checkbox">
                        <span class="mark"></span>
                    </label>
                </div>
            </div>
            <a class="submit-button" href="#">Submit</a>
        </div>
    </div>

    <div class="ui-box stream">
        <ul class="nav float-container">
            <li><a href="#">All</a></li>
            <li><a href="#">Learn</a></li>
            <li><a href="#">Mark & Create</a></li>
        </ul>
        <div class="stream-items float-container">
            <!--
            action:
            - start learning
            - write a record
            - start following
            -->
            <div class="item float-container">
                <div class="avatar">
                    <img src="/static/img/avatar_0.jpg" alt="">
                </div>
                <div class="right">
                    <div class="username-line">
                        <a href="#" class="username">reorx</a>
                        <span class="action">开始学习</span>
                        <a href="#" class="something">Python Web Development</a>
                    </div>
                    <div class="detail-line">Making web service using Python language, with some popular frameworks include django, flask, tornado and so on.</div>
                    <div class="actions-line">
                        <span class="created_at">3 mins ago</span>
                    </div>
                </div>
            </div>
            <div class="item float-container">
                <div class="avatar">
                    <img src="/static/img/avatar_1.jpg" alt="">
                </div>
                <div class="right">
                    <div class="username-line">
                        <a href="#" class="username">reorx</a>
                        <span class="action">关注了</span>
                        <a href="#" class="something">evangelion</a>
                    </div>
                    <div class="detail-line"></div>
                    <div class="actions-line">
                        <span class="created_at">3 mins ago</span>
                    </div>
                </div>
            </div>
            <div class="item float-container">
                <div class="avatar">
                    <img src="/static/img/avatar_3.jpg" alt="">
                </div>
                <div class="right">
                    <div class="username-line">
                        <a href="#" class="username">reorx</a>
                        写了关于
                        <a href="#" class="something">HTML</a>
                        的学习笔记
                    </div>
                    <div class="detail-line"></div>
                    <div class="actions-line">
                        <span class="created_at">3 mins ago</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% end %}

{% block column_right %}
    <div class="ui-box datepicker"></div>

    <div class="ui-box learning">
        <div class="title">Specs</div>
        <div class="specs">
            <div class="item">
                <div class="name">
                    <a href="#">Python Web Developer</a>
                    <span class="progress-number">75%</span>
                </div>
                <div class="progress">
                    <div class="bar" style="width: 75%;"></div>
                </div>
            </div>

            <div class="item">
                <div class="name">
                    <a href="#">English Translator</a>
                    <span class="progress-number">25%</span>
                </div>
                <div class="progress">
                    <div class="bar" style="width: 25%;"></div>
                </div>
            </div>

        </div>
        <div class="title">Skills</div>
        <div class="skills">
            <div class="item">
                <div class="name">
                    <a href="#">Python</a>
                    <span class="level">lv 4</span>
                </div>
            </div>

            <div class="item">
                <div class="name">
                    <a href="#">HTML</a>
                    <span class="level">lv 3</span>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-box followings follow-list">
        <div class="title">Followings</div>
        <div class="follow-list-container float-container">
            <div class="item">
                <a href="#">
                    <img src="/static/img/avatar_0.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/img/avatar_1.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/img/avatar_2.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/img/avatar_3.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/img/avatar_2.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/img/avatar_3.jpg" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="ui-box followers follow-list">
        <div class="title">Followers</div>
        <div class="follow-list-container float-container">
            <div class="item">
                <a href="#">
                    <img src="/static/img/avatar_3.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
{% end %}

{% block script %}
    <script type="text/javascript" src="/static/js/home.js"></script>
{% end %}
